.map {
    width: 35vw;
}

.map__image {
    fill: none;
    stroke: #ffffff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3px;
    stroke-dashoffset: 7001;
    stroke-dasharray: 7001;
    animation: map-painting 20s infinite ease-out;
}

.map:before {
    content: '';
    display: block;
    border-radius: 50%;
    max-width: 15px;
    max-height: 15px;
    width: 2vw;
    height: 2vw;
    background-color: #494c6a;
    top: 43%;
    left: 20%;
    animation: appearence 3s ease-out;
    animation-delay: 10s;
}

.map__text {
    display: inline-block;
    top: 33%;
    left: 15%;
    font-size: 17px;
    animation: appearence 3s ease-out 15s;
}

.map:before,
.map__text {
    position: absolute;
    opacity: 0;
    animation-fill-mode: forwards;
    transition: all 3s ease-out;
}

@keyframes appearence {
    100% {
        opacity: 1;
    }
}

@keyframes map-painting {
    100% {
        stroke-dashoffset: 0;
    }
}

@media screen and (max-width: 660px) {
    .map {
        display: none;
    }
}

/* 1.6 */
@media screen and (max-aspect-ratio: 16/10) {
    .map {
        width: 38vw;
    }

    .map:before {
        top: 43%;
    }
}

/* 1.5 */
@media screen and (max-aspect-ratio: 15/10) {
    .map {
        width: 43vw;
    }
}

/* 1.333 */
@media screen and (max-aspect-ratio: 4/3) {
    .map {
        width: 46vw;
    }
}

/* 1.3 */
@media screen and (max-aspect-ratio: 800/600) {
    .map {
        width: 46vw;
    }
}

/* 1.25 */
@media screen and (max-aspect-ratio: 5/4) {
    .map {
        width: 53vw;
    }
}

/* 1.1 */
@media screen and (max-aspect-ratio: 11/10) {
    .map {
        width: 59vw;
    }
}

/* 1.0 */
@media screen and (max-aspect-ratio: 1/1) {
    .map {
        display: none;
    }
}

@media screen and (max-aspect-ratio: 3/4) {
    .map {
        display: none;
    }
}