.tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.tab__item:first-child {
    position: relative;
    width: 65%;
}

.tab__item:last-child {
    display: flex;
    align-items: center;
    margin: 30px 5px 0 auto;
    border: 1px solid #ffffff;
    padding: 8px 25px;
}

@media screen and (max-width: 980px) {
    .tab {
        justify-content: center;
        align-items: center;
        height: initial;
    }

    .tab__item:first-child {
        width: 75vw;
        height: 52vh;
    }

    .tab__item:nth-child(2) {
        position: absolute;
        top: 17px;
        left: 96px;
        cursor: pointer;
        z-index: 2;  
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
    }

    .tab__item:last-child {
        margin: 0 auto;
    }

    .tab__item:last-child,
    .tab__item:first-child {
        width: 75vw;
    }
}