.app {
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/* .app:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background: linear-gradient(45deg, #8ad6db 20%, #7dc2c7 40%, #7ec8ce 60%);
    opacity: .5;
} */

.header-wrapper,
.languages-wrapper {
    position: absolute;
    top: 0;
}

.header-wrapper {
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    z-index: 2;
}

.languages-wrapper {
    right: 3%;
    padding: 20px 0;
    z-index: 3;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    z-index: -2;
    opacity: 1;
    transition: opacity .8s ease-out, z-index .8s ease-out ;
}

.fade-enter-active .works-page:before {
    z-index: -2;
    opacity: 1;
    transition: opacity .8s ease-out;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transform: scale(0.1);
    transition: opacity 1s ease-out, transform 1s ease-out;
}