/* Common styles */

.contact-page,
.about-page {
    height: calc(100vh - 68px);
    margin-top: 68px;
}

.works-page,
.contact-page {
    max-width: 1080px;
    width: 90vw;
}

.about-page:before,
.works-page:before,
.contact-page:before,
.about-page:after,
.works-page:after,
.contact-page:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;    
    opacity: .9;
}

.about-page:before,
.works-page:before,
.contact-page:before {
    z-index: -2;
}

.about-page:after,
.works-page:after,
.contact-page:after {
    z-index: -1;
    background: linear-gradient(45deg, #8ad6db 20%, #7dc2c7 40%, #7ec8ce 60%);
    opacity: .5;
}

/* About page */

.about-page {
    max-width: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}

.about-page:before {
    min-height: 100%;
    background-image: url(../../assets/images/black-iphone-7-on-white-table.jpg);
}

/* Contacts page */

.contact-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.contact-page:before {
    height: 100vh;  
    background: url(../../assets/images/contacts-bg/contacts1920x1200-1.6.jpg) no-repeat;
    background-size: cover;
}

.contact-page a {
    font-family: 'Play', sans-serif;
}

.contact-page > div:last-child {
    position: absolute;
    top: 13vw;
    left: 40vw;
    z-index: 0;
}

.contact-page__inner {
    width: 387px;
    height: 306px;
    position: absolute;
    top: 30%;
    left: 5vw;
}

.contact-page__inner-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    animation: slow-moving 12s linear infinite;
}

.contact-page__list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    backface-visibility: hidden;
    overflow-y: auto;
    padding-left: 62px;
}

.contact-page__list::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(23, 22, 22, .22);
    box-shadow: inset 0 0 6px #333333;
}

.contact-page__list::-webkit-scrollbar-thumb {
    background-color: #252525;
}

.contact-page__list--front,
.contact-page__list--back {   
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
}

.contact-page__list--front {
    z-index: 2;  
}

.contact-page__list--back {
    transform: rotateY(180deg);
}

@keyframes slow-moving {
    0% {
        transform: translate(-10%) perspective(500px) rotateY(-15deg);
    }
    87% {
        transform: translate(10%) perspective(500px) rotateY(15deg);
    }
    100% {
        transform: translate(-10%) perspective(500px) rotateY(165deg);
    }
}

/* Home page */

.button-wrapper {
    margin-top: 20px;
}

.home-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-page__inner--position-absolute {
    position: absolute;
    width: 100%;
    max-width: 1200px;
    height: 41vh;
    bottom: 0%;
    left: -13%;
    z-index: -1;
}

/* Portfolio page */

.display-none {
    display: none;
}

.display-none-timeout {
    display: block;
    animation: display-none 1s linear forwards;
}

@keyframes display-none {
    100% {
        display: none;
    }
}

.works-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.row-wrapper:nth-child(2) {
    margin-bottom: 0;
}

.works-page:before {
    height: 100vh;  
    background: url(../../assets/images/portfolio-bg/empty-gallery1920x1200-1.6.jpg) no-repeat;
    background-size: cover;
}

.number-wrapper {
    bottom: 3%;
    right: 4%;
}

.number-wrapper,
.works-page__inner {
    position: absolute;
}

.works-page__inner {
    width: 39px;
    height: 39px;
    top: 50%;
}

.works-page__inner:hover {
    cursor: pointer;
}

.works-page__inner:hover > svg {
    fill: #e31b6d;
}

.works-page__inner-position-left {
    left: 5%;
}

.works-page__inner-position-right {
    right: 5%;
}

/* Media */

@media screen and (max-width: 1200px) {
    .home-page__inner--position-absolute {
        height: 31vw;
    }
}

/* > 2.33 */

@media screen and (min-aspect-ratio: 217/100) {
    .works-page:before {
        background: url(../../assets/images/portfolio-bg/empty-gallery2560x1080-2.33.jpg) no-repeat;
        background-size: cover;
    }
}

/* 2.33 */

@media screen and (max-aspect-ratio: 21/9) {
    .works-page:before {
        background: url(../../assets/images/portfolio-bg/empty-gallery2560x1179-2.15.jpg) no-repeat;
        background-size: cover;
    }
}

/* 2.15 */

@media screen and (max-aspect-ratio: 215/100) {
    .works-page:before {
        background: url(../../assets/images/portfolio-bg/empty-gallery2560x1282-2.jpg) no-repeat;
        background-size: cover;
    }
}

/* 2 */

@media screen and (max-aspect-ratio: 2/1) {
    .works-page:before {
        background: url(../../assets/images/portfolio-bg/empty-gallery2560x1343-1.9.jpg) no-repeat;
        background-size: cover;
    }
}

/* 1.9 */

@media screen and (max-aspect-ratio: 19/10) {
    .works-page:before {
        background: url(../../assets/images/portfolio-bg/empty-gallery1920x1080-1.77.jpg) no-repeat;
        background-size: cover;
    }
}

/* 1.77 */

@media screen and (max-aspect-ratio: 16/9) {
    .works-page:before {
        background: url(../../assets/images/portfolio-bg/empty-gallery1920x1200-1.6.jpg) no-repeat;
        background-size: cover;
    }
}

/* 1.6 */
@media screen and (max-aspect-ratio: 16/10) {
    .contact-page:before {
        background: url(../../assets/images/contacts-bg/contacts1920x1280-1.5.jpg) no-repeat;
        background-size: cover;
    }

    .contact-page > div:last-child {
        position: absolute;
        top: 14vw;
        left: 42vw;
    }

    .works-page:before {
        background: url(../../assets/images/portfolio-bg/empty-gallery1920x1280-1.5.jpg) no-repeat;
        background-size: cover;
    }

    .works-page__inner-position-right {
        right: 2%;
    }

    .works-page__inner-position-left {
        left: 2%;
    }
}

/* 1.5 */
@media screen and (max-aspect-ratio: 15/10) {
    .contact-page:before {
        background: url(../../assets/images/contacts-bg/contacts1920x1440-4on3.jpg) no-repeat;
        background-size: cover;
    }

    .contact-page__inner {
        left: 2vw;
    }
    
    .contact-page > div:last-child {
        position: absolute;
        top: 16vw;
        left: 35vw;
    }

    .works-page:before {
        background: url(../../assets/images/portfolio-bg/empty-gallery1920x1440-4on3.jpg) no-repeat;
        background-size: cover;
    }

    .works-page__inner-position-right {
        right: 1%;
    }

    .works-page__inner-position-left {
        left: 1%;
    }
}

/* 1.333 */
@media screen and (max-aspect-ratio: 4/3) {
    .contact-page:before {
        background: url(../../assets/images/contacts-bg/contacts1920x1477-1.3.jpg) no-repeat;
        background-size: cover;
    }

    .contact-page > div:last-child {
        display: none;
    }

    .works-page:before {
        background: url(../../assets/images/portfolio-bg/empty-gallery1920x1477-1.3.jpg) no-repeat;
        background-size: cover;
    }
}

/* 1.3 */
@media screen and (max-aspect-ratio: 800/600) {
    .contact-page:before {
        background: url(../../assets/images/contacts-bg/contacts1920x1537-1.25.jpg) no-repeat;
        background-size: cover;
    }

    .contact-page__inner {
        top: 18vw;
        left: 35vw;
    }

    .works-page:before {
        background: url(../../assets/images/portfolio-bg/empty-gallery1280x1024-1.25.jpg) no-repeat;
        background-size: cover;
    }
}

/* 1.25 */
@media screen and (max-aspect-ratio: 5/4) {
    .contact-page:before {
        background: url(../../assets/images/contacts-bg/contacts1920x1746-1.1.jpg) no-repeat;
        background-size: cover;
    }

    .contact-page__inner {
        top: 21vw;
        left: 41vw;
    }

    .number-wrapper {
        bottom: 0;
        right: initial;
        left: 7%;
    }

    .works-page:before {
        background: url(../../assets/images/portfolio-bg/empty-gallery1280x1161-1.1.jpg) no-repeat;
        background-size: cover;
    }

    .works-page__inner-position-right {
        right: 2%;
    }

    .works-page__inner-position-left {
        left: 2%;
    }
}

/* 1.1 */
@media screen and (max-aspect-ratio: 11/10) {
    .contact-page:before {
        background: url(../../assets/images/contacts-bg/contacts1920x1746-1on1.jpg) no-repeat;
        background-size: cover;
    }

    .contact-page__inner {
        top: 23vw;
        left: 32vw;
    }

    .works-page:before {
        background: url(../../assets/images/portfolio-bg/empty-gallery1280x1280-1on1.jpg) no-repeat;
        background-size: cover;
    }

    .number-wrapper {
        display: none;
    }
}

/* 1.0 */
@media screen and (max-aspect-ratio: 1/1) {
    .contact-page:before {
        background: url(../../assets/images/contacts-bg/contacts1440x1920-3on4.jpg) no-repeat;
        background-size: cover;
    }

    .contact-page__inner {
        top: 28vw;
        left: 20vw;
    }

    .works-page:before {
        background: url(../../assets/images/portfolio-bg/empty-gallery1280x1280-3on4.jpg) no-repeat;
        background-size: cover;
    }

    .works-page__inner-position-right {
        right: 5%;
    }

    .works-page__inner-position-left {
        left: 5%;
    }
}

/* 0.75 */

@media screen and (max-aspect-ratio: 3/4) {
    .contact-page__inner {
        top: 23vw;
        left: 17vw;
    }

    .number-wrapper {
        bottom: 0;
        right: 0;
        left: initial;
    }

    .works-page:before {
        background: url(../../assets/images/portfolio-bg/empty-gallary859x1280-2on3.jpg) no-repeat;
        background-size: cover;
    }

    .works-page__inner-position-right {
        right: 2%;
    }

    .works-page__inner-position-left {
        left: 2%;
    }
}

/* 0.66 */

@media screen and (max-aspect-ratio: 2/3) {
    .works-page:before {
        background: url(../../assets/images/portfolio-bg/empty-gallery636x1280-1on2.jpg) no-repeat;
        background-size: cover;
    }

    .works-page__inner-position-right {
        top: 105vw;
        right: 5%;
    }

    .works-page__inner-position-left {
        top: 105vw;
        left: initial;
        right: 18%;
    }
}

@media screen and (max-width: 980px) {
    .about-page > div > div:hover:nth-child(2) {
        transform: scale(1.2);
        transition: transform .5s ease;
    }
}

@media screen and (max-width: 630px) { 
    .home-page .hero {
        margin-left: 30px;
    }
}