.tooltip {
    border: 1px solid #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    position: relative;
    opacity: 0;
    animation: blinking 20s ease-out 2s;
}

.tooltip:after {
    content: '';
    display: block;
    width: .7em;
    height: .7em;
    background-color: #252934;
    transform: rotate(45deg);
    position: absolute;
    top: -25%;
    right: 10%;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
}

@keyframes blinking {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    7.5% {
        opacity: 0;
    }
    12.5% {
        opacity: 1;
    }
    15% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    22.5% {
        opacity: 0;
    }
    27.5% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    35% {
        opacity: 1;
    }
    37.5% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}