.close-button-wrapper {
    position: absolute;
    animation: move-up 4s ease-in 1s forwards;
    top: 50%;
    right: 0%;
    width: 39px;
    height: 39px;
    z-index: 4;
}

@keyframes move-up {
    0% {
        right: 0;
    }
    100% {
        top: 17%;
        right: 6%;
    }
}

@keyframes move-center {
    0% {
        right: 0;
    }
    100% {
        top: 20px;
        right: 50%;
        transform: translateX(50%);
    }
}

@media screen and (max-width: 768px) {
    .close-button-wrapper {
        animation: move-center 4s ease-in 1s forwards;
    }
}

@media screen and (max-height: 680px) {
    .close-button-wrapper {
        animation: move-up 4s ease-in 1s forwards;
    }
}