.close-button-wrapper {
    position: absolute;
    animation: move-up 4s ease-in 1s forwards;
    top: 50%;
    right: 0%;
    width: 39px;
    height: 39px;
    z-index: 2;
}

@keyframes move-up {
    0% {
        right: 0;
    }
    100% {
        top: 7%;
        right: 5%;
    }
}