@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway-ExtraLight.ttf') format('truetype');
    src: url('./assets/fonts/Raleway-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway-Light.ttf') format('truetype');
    src: url('./assets/fonts/Raleway-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 300;
    background: linear-gradient(90deg,#b9b7b3, #bfbeba);
    color: #ffffff;
    position: relative;
}

body:before {
    content: '';
    position: absolute;
    background: linear-gradient(45deg, #8ad6db 20%, #7dc2c7 40%, #7ec8ce 60%);
    opacity: .5;
}

body,
body:before {
    width: 100%;
    width: -webkit-fill-available;
    height: 100%;
    height: -webkit-fill-available;
    z-index: -3;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #ffffff;
}

#root {
    position: relative;
    overflow: hidden;
    height: 100vh;
    height: -webkit-fill-available;
    width: 100vw;
    width: -webkit-fill-available;
}