.image {
    display: block;
    transition: all .8s;
}

.image--sm:hover {
    cursor: pointer;
}

.image--md {
    height: 18vw;
    min-height: 280px;
    border-radius: 5px;
    transform: scale(1.15);
    transition: transform .35s ease;
}

.image--md:hover {
    cursor: pointer;
    transform: scale(1);
}

.image--sm {
    width: 100%;
    height: 100%;
    transition: all .8s;
    animation: move-down 1.5s ease-out .5s forwards;
    filter: brightness(1.2);
}

.image--mirror {
    transform: scaleY(-1);
}

@keyframes move-down {
    0% {
        transform: translateY(-103%);
    }
    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 980px) {
    .image--md {
        min-height: initial;
        width: 100%;
        height: auto;
        transform-origin: 100% 100%;
        transform: scale(1);
    }
}