.image {
    display: block;
    transition: all .8s;
}

.image--sm:hover {
    cursor: pointer;
}

.image--md {
    height: 18vw;
    min-height: 338px;
    border-radius: 5px;
}

.image--sm {
    width: 100%;
    height: 100%;
    transition: all .8s;
    transform: translateY(-103%);
    animation: move-down 1.5s ease-out .5s forwards;
}

@keyframes move-down {
    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 980px) {
    .image--md {
        min-height: initial;
        width: 100%;
        height: auto;
        transform-origin: 100% 100%;
    }
}