.header__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 60%;
    font-size: 21px;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    transition: all 1s ease-out;
}

.header__item a {
    position: relative; 
    box-sizing: border-box;
}

.header__item a:hover::before,
.header__item a:hover::after {
    width: calc(50% - 2px);
}

.header__item a:before,
.header__item a:after {
    content: '';
    position: absolute;
    bottom: -5px;
    display: block;
    width: 0px;
    height: 3px;
    background-color: #ffffff;
    transition: width 0.5s ease-out;
}

.header__item a:before {
    left: calc(50% - 1px);
}

.header__item a:after {
    right: calc(50% - 1px);
}

@keyframes header-appearence {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 767px) {
    .header__list {
        width: 100%;
        opacity: 0;
        transform: translate(-170%, 27%);
        flex-direction: column;
    }

    .header__list--opacity {        
        opacity: 1;
        transform: translate(-5%, 27%);
        background-color: rgba(0, 0, 0, .7);
    }

    .header__item {
        padding: 20px;
    }
}

@media screen and (max-height: 400px) and (max-width: 767px) {
    .header__item {
        padding: 15px 20px;
    }
}