.header__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 60%;
    font-size: 21px;
    /* animation: header-appearence; */
    animation-delay: 2s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    transition: all 1s ease-out;
}


.header__item a {
    position: relative; 
}

.header__item a:hover::before,
.header__item a:hover::after {
    width: 50%;
}

/* .header__item a:hover::after {
    transform: translateX(-25%);
} */

.header__item a:before,
.header__item a:after {
    content: '';
    position: absolute;
    bottom: -5px;
    display: block;
    width: 0;
    height: 3px;
    background-color: #ffffff;
    transition: width 0.5s ease;
}

.header__item a:before {
    left: 50%;
}

.header__item a:after {
    right: 50%;
}

/* .header__item:hover > a {
    cursor: pointer;
    border-bottom: 3px solid #ffffff;
    transition: color .4s ease;
} */

@keyframes header-appearence {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 767px) {
    .header__list {
        width: 100%;
        opacity: 0;
        transform: translate(-170%, 27%);
        flex-direction: column;
        /* animation: header-disappearence 1.5s ease forwards; */
    }

    /* @keyframes header-disappearence {
        0% {
            transform: translate(-5%, 27%);
        }
        50% {
            transform: translate(0, -127%);
        }
        100% {
            transform: translate(-170%, 27%);
        }
    } */

    .header__list--opacity {        
        opacity: 1;
        transform: translate(-5%, 27%);
        background-color: rgba(0, 0, 0, .7);
    }

    .header__item {
        padding: 20px;
    }
}