.number-one {
    fill: none;
    width: 36px;
}

.number-one path {
    stroke: #ffffff;
    stroke-miterlimit: 10;
    stroke-dasharray: 315;
    stroke-dashoffset: 315;
    animation: number-appearence 5s ease-out .5s forwards;
}

@keyframes number-appearence {
    100% {
        stroke-dashoffset: 0;
    }
}